---
import Layout from "../layouts/Layout.astro";
import Hero from "../sections/Hero.astro";
import Snippets from "../sections/Snippets.astro";
import Features from "../sections/Features.astro";
import AccessAnywhere from "../sections/AccessAnywhere.astro";
import Supercharge from "../sections/Supercharge.astro";
import References from "../sections/References.astro";
import BottomCTA from "../sections/BottomCTA.astro";
import Footer from "../sections/Footer.astro";
import "./../styles/global.css";
---

<Layout title="Welcome to Clipboard.">
  <main>
    <Hero />
    <Snippets />
    <Features />
    <AccessAnywhere />
    <Supercharge />
    <References />
    <BottomCTA />
    <Footer />
  </main>
</Layout>
