---
type FeaturesItems = {
  title: string;
  description: string;
};

const featuresItems: FeaturesItems[] = [
  {
    title: "Search",
    description:
      "Search your snippets by content, category, web address, application, and more.",
  },
  {
    title: "iCloud Sync",
    description:
      "Organize your bookmarks, passwords, and notes with the click of a button.",
  },
  {
    title: "Completely History",
    description:
      "Retrieve any snippets from the first moment you started using the app.",
  },
];
---
<section id="features">
  <div class="section-container my-20">
    <div class="relative flex flex-col md:flex-row md:space-x-32">
      <div class="md:w-1/2">
        <img
          src="/clipboard/image-computer.png"
          alt=""
          class="md:absolute top-0 right-[50%]"
        />
      </div>
      <div
        class="flex flex-col mt-16 mb-24 space-y-12 text-xl md:w-1/2 md:mb-60 md:text-left md:pl-16"
      >
        {
          featuresItems.map((feature) => (
            <div>
              <h5>{feature.title}</h5>
              <p class="max-w-md text-grayishBlue">{feature.description}</p>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
