---
type SocialIcons = {
  imgSrc: string;
  alt: string;
  href: string;
};

type MenuItems = {
  text: string;
  href: string;
};

const socialIcons: SocialIcons[] = [
  {
    imgSrc: "/clipboard/icon-facebook.svg",
    alt: "Facebook",
    href: "#",
  },
  {
    imgSrc: "/clipboard/icon-twitter.svg",
    alt: "Twitter",
    href: "#",
  },
  {
    imgSrc: "/clipboard/icon-instagram.svg",
    alt: "Instagram",
    href: "#",
  },
];

const menuItems: MenuItems[] = [
  {
    text: "Home",
    href: "#",
  },
  {
    text: "Pricing",
    href: "#",
  },
  {
    text: "Product",
    href: "#",
  },
  {
    text: "About Us",
    href: "#",
  },
];
---

<footer class="bg-gray-50">
  <div class="section-container">
    <div class="flex flex-col items-center justify-between md:flex-row">
      <img src="/clipboard/logo.svg" alt="" class="scale-50" />
      <div
        class="flex flex-col items-center justify-between flex-1 mb-10 space-y-6 md:flex-row md:mb-0 md:space-y-0 text-grayishBlue"
      >
        <div
          class="flex flex-col space-y-4 md:flex-row md:ml-24 md:space-x-24 md:space-y-0"
        >
          <div class="flex flex-col space-y-4 text-center md:text-left">
            <div><a href="#" class="hover:text-strongCyan">FAQs</a></div>
            <div>
              <a href="#" class="hover:text-strongCyan">Contact Us</a>
            </div>
          </div>
          <div class="flex flex-col space-y-4 text-center md:text-left">
            <div>
              <a href="#" class="hover:text-strongCyan">Privacy Policy</a>
            </div>
            <div>
              <a href="#" class="hover:text-strongCyan">Press Kit</a>
            </div>
          </div>
          <div class="flex flex-col space-y-4 text-center md:text-left">
            <div>
              <a href="#" class="hover:text-strongCyan">Install Guide</a>
            </div>
          </div>
        </div>
        <div class="flex justify-between w-32 py-1">
          {
            socialIcons.map((socialIcon) => (
              <a href={socialIcon.href}>
                <img
                  src={socialIcon.imgSrc}
                  alt={socialIcon.alt}
                  class="duration-200 ficon"
                />
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</footer>
