---
type Tools = {
  imgSrc: string;
  alt: string;
  text: string;
  description: string;
};

const tools: Tools[] = [
  {
    imgSrc: "/clipboard/icon-blacklist.svg",
    alt: "Blacklist",
    text: "Create Blacklists",
    description:
      "Ensure sensitive information never makes its way to your clipboard by excluding certain sources.",
  },
  {
    imgSrc: "/clipboard/icon-text.svg",
    alt: "Plain Text",
    text: "Plain text snippets",
    description:
      "Remove unwanted formatting from copied text for a consistent look.",
  },
  {
    imgSrc: "/clipboard/icon-preview.svg",
    alt: "Preview",
    text: "Sneak preview",
    description:
      "Quick preview of all snippets on your Clipboard for easy access.",
  },
];
---

<section id="supercharge">
  <div class="section-container my-20">
    <h3>Supercharge your workflow</h3>
    <p class="section-content mb-16 text-xl">
      We've got the tools to boost your productivity.
    </p>
    <div
      class="flex flex-col items-center justify-between space-y-16 md:flex-row md:space-y-0 md:space-x-12"
    >
      {
        tools.map((tool) => (
          <div class="flex flex-col items-center space-y-5">
            <img src={tool.imgSrc} alt={tool.alt} class="mb-6" />
            <h5>{tool.text}</h5>
            <p class="max-w-md text-grayishBlue">{tool.description}</p>
          </div>
        ))
      }
    </div>
  </div>
</section>
